<p id="notice"><%= notice %></p>
<h1>Illinois Data Bank File Processor</h1>
<em>Background file processing to support Illinois Data Bank content views and metrics reports.</em>
<div class="jumbotron">This tool is intended for Illinois Data Bank staff.</div>